body{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: bisque;
margin:0px;
padding:0px;}

h1{text-align:center;}

input,select,button{
padding:8px;
margin:5px;
font-size:1rem}

#filter{
display:block;
width:300px;
font-size:1rem;
margin: 0 auto;

}

#appointmentForm{
    text-align: center;
    margin-bottom: 20px;
}
#appointmentForm input:Focus,
#appointmentForm select:Focus{
    outline:2px solid #1518ec
}
#appointments{
    list-style:none;
    padding:0px;
    max-width:600px;
    margin:0 auto}

#appointments li{
    background:#f0c506;
    margin-right:10px;
    padding:15px;
    border:1px solid #f06006}

#appointments li.green {
    background-color: aqua;}

#appointments li button.detailBtn{
    position:absolute;
    right:10px;
    left:10px;
}
#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal.hidden{
    display: none;
}
.modal-content{
    
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    
}
#modal-content button{
    margin-top: 10px;
}


